[2016-02-15 23:12] jeetsukumaran opened #1 "Mapping/command to move to beginning/end of blocks, parent blocks?"
Is there such? If not, would it be possible to request it?

Nice movements would be:

- end of current block
- beginning of current block
- beginning of parent block
- beginning of next block at higher level

E.g.,
Given:
[code]

(1) If the cursor is between line 4 (inclusive) and 5 (exclusive), then <end-of-current-block> would move to the line just before [5].

(2) If the cursor is between line

[2016-02-15 23:28] tweekmonster commented on #1
I wanted to add `[]` and `][`, but it's something I struggled to wrap my head around as far as being consistent enough for the user.  The trouble I'm having is with something like this:

[code]

On all 3 lines there, you are inside one of those blocks.  It becomes unclear to me about how the plugin should decide.  Not to mention the 3rd line is the "end" for the `def` and `if` lines.  It was the m

[2016-02-16 00:48] jeetsukumaran commented on #1
I think the issue becomes clearer if we decide whether the plugin is focussed on blocks defined by indents or _code_ blocks defined by indents. The latter is a semantic overlay on the former. I think the fact that your plugin is focussed on the semantically-richer "code block" concept is exactly what makes it really nice, distinguishing it from others out there. I am the author of [indentwise](htt

[2016-02-16 01:10] Phrohdoh opened #2 "Pull indentation highlight out into its own plugin"
I'd love to have [this indentation guide](https://cloud.githubusercontent.com/assets/111942/13040915/11a1cf74-d380-11e5-8e56-da487f0536f8.gif) in brace-bearing languages as well.

I'm not very well versed in viml but did read `indent.vim` a bit, with a bit of guidance I could probably do this.

Do you think this is feasible?

[2016-02-16 01:51] tweekmonster commented on #2
I didn't think that this would be the feature that stood out in this plugin, but sure.  I'll have something up in an hour or so :neckbeard:

[2016-02-16 03:48] ezimir commented on #2
Would it be also possible for the `BracelessIndent` highlight to have configurable colors (cterm and gui)? Or simply re-defining that highlight in .vimrc will do it?

[2016-02-16 04:56] tweekmonster commented on #2
So, "an hour or so" turned out to be three.  Here's a separate local indent plugin: https://github.com/tweekmonster/local-indent.vim

Yup, you just need to redefine it yourself.  It's set as a `default` so it'll only be defined by the plugin if it doesn't already exist.  I don't use gvim, so I didn't test it with gui colors.  Hope it works out!

[2016-02-16 05:52] tweekmonster commented on #1
I saw your plugin after I had left for dinner and know you have a real appreciation for the goofiness involved here, so your input is definitely appreciated.  I actually had no particular focus on indent blocks vs code blocks (but obviously emphasized on the latter).  I broke down and made this after I had typed `di<esc>` for the millionth time in Python and got frustrated about the fact that ther

[2016-02-16 06:54] for-coursera opened #3 "Once selected a text object, expand the selection?"
Let's say I have a code block like this:

    1.    def decr(d, a):
    2.       r = {}
    3.        for key, value in d.items():
    4.           if key == a:
    5.               value -= 1 #### my cursor is here
    6.          r[key] = value
    7.        return r

…and my cursor is on `value -= 1` line. Once I press `vaP`, I get the `if` structure selected. But is it possible then to expand

[2016-02-16 11:05] AlbericC opened #5 "No highlight in gvim, fine in vim though"
with the same `.vimrc`, and no `.gvimrc`, I can't get te indent guide to appear. It works perfectly in vim, though.

[2016-02-16 12:17] AlbericC commented on #5
Extra info:
After a Flake8 or syntactic check, the highlight bar appears sometimes, it seems random. I'll try to investigate further.

[2016-02-16 12:32] AlbericC opened #6 "Folding functions inconsistent depending on indent"
with this sample code, folding `myfunction` leaves the two blank lines above the def in line 7, while folding `myotherfunction` also folds the blank lines above the `if` statement.

Is there any way to always leave the blanks or always fold blank lines ?

[code]

[2016-02-16 12:43] phrohdoh commented on #2
Cool!
I'll play with it some more later as I'm not quite getting the results you're demonstrating.

Thanks!

[2016-02-16 14:02] tweekmonster commented on #5
This could be fixed in #4.  Could you confirm this after an update?

[2016-02-16 14:11] jeetsukumaran commented on #1
When I first shared "indentwise" on reddit, key-mappings was a pretty involved discussion. Long story short: _everyone_ had a perspective/opinion, most of which made sense, but there was no consensus or even a majority opinion. Basically there were as many schemes as their were programmers. [Though the schemes could be classified into two broad groups, those who preferred a mnemonic-emphasis consi

[2016-02-16 14:23] jeetsukumaran commented on #5
You need to explicitly define the highlight color for the gui mode in your vimrc.

By default, only console vim colors are defined:

[code]

You need a line like the following in your `~/.vimrc` to support GUI mode vim colors:

[code]

Or, specifying colors for both GUI and console:

[code]

[2016-02-16 14:38] tweekmonster commented on #3
We're talking about this in #1.  I already have code that I'm going to push soon for adding counts to block operations, but I want to fix TravisCI first so I can get some tests in for this.

[2016-02-16 15:25] tweekmonster commented on #6
Just tried some things and it looks like I can do either.
1. If I exclude blank lines from folding, attempting to fold between your example functions will result in "no fold found".  If you wrapped the whole thing in a class, the blank lines between the functions would fold the class.
2. If the blank lines are included in the block above it, (blank lines will match the def's since they're the clos

[2016-02-16 15:49] tweekmonster commented on #1
I'm a little slow to reply to this one because it warrants some thought.

I think I like `[j` for previous (inclusive) inner start, and `]j` for next inner start, `]k` for next (inclusive) inner end, and `[k` for previous inner end.  What do you think?

I _definitely_ was thinking about this when I started, but didn't want to add a delay to paragraph movement since it's still kind of useful in Pyt

[2016-02-16 16:06] jeetsukumaran commented on #1
Due to the `j` and `k` being more fundamental movement keys, I think that the direction semantics should be dominated by `j` and `k` rather than `[` and `]`: `j` should be "previous" and `k` should be "next", always. So: `[j` for previous (inclusive) inner start and `]j` for previous inner start, and `[k` for next (inclusive) inner end and `]k` for next inner end.

But there is a case to be made f

[2016-02-16 16:51] #5 closed

[2016-02-16 16:51] tweekmonster commented on #5
I set the default to:

[code]

[2016-02-16 17:09] tweekmonster commented on #3
Now you can use `v2aP`

[2016-02-16 23:32] AlbericC commented on #6
What bugs me is the odd aspect of a folded file, with spacing uneven. So whatever is fine I guess.

Come to think of it, 2 is probably better for compactness.

[2016-02-17 03:27] #6 closed

[2016-02-17 03:28] #2 closed

[2016-02-17 06:02] for-coursera commented on #3
Thanks! Works like a charm. And any thoughts on selection's expansion may be? :) Or do we close this issue?

[2016-02-17 06:10] tweekmonster commented on #3
What do you mean by expansion?  There's a discussion about block motions in #1.

[2016-02-17 06:20] for-coursera commented on #3
Something like [that](https://github.com/terryma/vim-expand-region) probably -- but for indented structures.

E.g., as for the code shown above, if my cursor is at line 5, and I press `vaP`, the `if` block gets selected, right? But what if add an additional shortcut, pressing which after the selection would expand this particular selection further? Press it once – and the `for` block gets selected

[2016-02-17 06:21] tweekmonster commented on #1
I forgot to reply to this earlier, sorry.

I was actually thinking this, but I guess I typed it out the wrong way :sweat:

I thought about `>` and `<` but it started feeling like I was mapping keys to help you develop carpal tunnel.  The one key I was thinking about using as the motion prefix was `t` since that was only really associated with html tags and got the left hand involved.  Maybe that'd

[2016-02-17 06:26] tweekmonster commented on #3
Hmm, I think this is already covered if you press `vaPaPaP`.  It's not exactly streamlined, but gets the job done.  And a quick glance at their readme looks like you could define `aP` in its region config.

[2016-02-17 06:29] for-coursera commented on #3
Oh, thanks for pointing :). Somehow I was too slow just to think of it :).

[2016-02-17 06:29] #3 closed

[2016-02-17 07:24] jeetsukumaran commented on #1
There's also `SPACE` or `TAB`as prefixes, both of which are redundant or not very useful by default in normal mode, and would be appropriate given that the structure is defined by one or both of these characters ;)

But the "key" (ha ha) point you make is this:

Yep! Default to what you feel comfortable with + option to suppress or not enable default mappings + everything bound to `PLUG`'s so folk

[2016-02-17 10:04] AlbericC commented on #6
Perfect: folding a bunch of functions with `k<space>` is definitely comfortable ! Thank you !

[2016-02-22 06:56] tweekmonster commented on #1
@jeetsukumaran Sorry for not updating sooner.  This took a while to get right.  And by "right", I mean "as close to making sense as possible".  I went with `<Tab>` after going through a few other keys to get a feel for them.  They all sucked, but `<Tab>` sucked the least.

What I did was made it so that movement happened by block segments.  Here's an image that shows what are considered block segm

[2016-02-22 17:02] jeetsukumaran commented on #1
(1) First, I think that every motion should add the current position to the jumplist so that `CTRL-i` and `CTRL-o` work as expected.

(2) I think that `TAB k` should move to the _beginning_ of the previous segment, rather than the end.

For e.g., consider the following code fragment::

[code]

Then, if the cursor is on line 10, I can see wanting go up to line 5 or 4, but not so much the _end_ of t

[2016-02-22 21:27] tweekmonster commented on #1
Is there a vim function for setting updating the jumps or is it a matter of `normal! m`` before the movement?

Yeah, after some real use, the cursor positions after the move are a little too weird for me.  I was modeling after the fold movements so I could have some concept to latch on to while working on this because it was getting a little confusing.  And, now that you've mentioned jumps, I just

[2016-02-22 22:56] jeetsukumaran commented on #1
The key to having the current position recorded in the jumplist is to use movements that record the current position in the jumplist. Tautalogical, I know, but what I mean is this  ...

If you decide you want to move 3 lines up to line 35, you could either do `3j` or `35gg` or`35G`. The first move will NOT result in the current position being recorded in the jumplist, while the latter two will. Un

[2016-02-23 08:24] for-coursera opened #13 "Somewhat intelligent auto-indent - is it possible to turn it off?"
Don't know, if it's just me, but right now if you press an Enter on a zero-indented line, you got an indent on the next one. As I understand from the description, that seems to be a feat. Then, is it possible to turn it off?

[2016-02-23 18:04] #13 closed

[2016-02-23 18:12] tweekmonster commented on #13
@for-coursera It's not just you.  Changed it so that if you're more than 2 lines away from a non-blank line, it'll go with your indentation.  I also made the auto indent slightly more intelligent:

[code]

If you still don't want to use the autoindent in this plugin, don't add the `+indent` to the `BracelessEnable` command.  You will have to reload the buffer (`:e!` after `:w`) for it to take effe

[2016-02-23 18:25] for-coursera commented on #13
Thanks! That looks interesting...

Also, I somewhat was under impression that without `+indent` the objects themselves won't work, too. Good to know it's not true.

[2016-02-23 18:37] tweekmonster commented on #13
I guess I should clarify the above example.  The autoindent is contextual now.  It'll know that the immediate `if` statement is already terminated with an `else` statement, and will indent the `elif` with the one above it.  It does this for `else`, `elif`, `except`, and `finally` since those can be nested and are aggravating to properly indent when I want to keep typing.

[2016-02-24 20:10] tweekmonster opened #14 "Decorators should be included as part of code blocks"

[2016-02-25 10:17] nicoe opened #15 "ViP behavior is strange"
While viP do what is expected, when using ViP (which I happen to do a lot because the text-objects are linewise objects and my mind uses V in that case) the line selected are the one from the next indent level. This is a really strange behaviour that I think is worth some documentation (or maybe even a workaround).

[2016-02-25 14:21] tweekmonster commented on #15
`viP` and `ViP` are supposed to do the same thing.  This is a regression and I need to add test cases for it.  Thanks for reporting!

[2016-02-25 18:06] tweekmonster commented on #15
The script that's related to this issue needs to be refactored.  It was part of the early stages of development when selection was taken into account when scanning for a single block.  This is going to end up being related to #1 which I'm going to try to work on more this weekend.

[2016-02-25 21:15] beaugunderson opened #16 "Add note re: `filetype indent off`?"
I had to add `filetype indent off` to my Python-specific `.vimrc` file to get the braceless.vim indentation to work; maybe that should be added to the docs?

[2016-02-25 21:19] beaugunderson opened #17 "`:` key dedents incorrectly"
In a blank file, if I type this:

[code]

and then hit the `:` key, I end up with this:

[code]

(it dedents the last line incorrectly)

[2016-02-25 22:02] tweekmonster commented on #16
Hmm, could you tell me what `set indentexpr?` said before you fixed it yourself?  This plugin should be unaffected by that option since it's not loaded via indent.vim.  Running `:filetype` shows `filetype detection:ON  plugin:ON  indent:ON` for me.

[2016-02-25 22:03] tweekmonster commented on #17
Thanks I'll look into this.

[2016-02-25 23:01] beaugunderson commented on #16
ah interesting; I'll check indentexpr? shortly

---

Sent from my phone.

[2016-02-26 05:59] #17 closed

[2016-02-26 06:04] beaugunderson commented on #16
when I have `filetype indent on` it gets set to: `GetPythonIndent(v:lnum)` which exists in `/usr/local/share/vim/vim74/indent/python.vim`.

I wonder if it's an ordering issue?

I execute `BracelessEnable +indent` from `~/.vim/after/ftplugin/python.vim`.

[2016-02-26 06:30] tweekmonster commented on #16
Oh okay I see what's going on now.  The way I intended this plugin to work was to let the builtin Python scripts load themselves while Braceless was lazy loaded with a FileType autocmd.  It was to avoid the need for a `indent/python.vim` script which would make this plugin opinionated.  In this case, the builtin `indent/python.vim` script is loaded after the ftplugin.

Could you try adding this to

[2016-02-26 06:35] OptiverTimAll opened #18 "Indent mode gets confused by brackets in docstrings."
Consider the following function:

    def print_bracket():
        """
        Prints a bracket.

        Here's an example:

            (

        """
        print "("

Everywhere after the unmatched bracket in the docstring, Braceless' indent mode gets confused about what the new indent level should be. If you delete that line, it's fine. Notet hat Braceless is not confused by the unmatch brac

[2016-02-26 06:35] beaugunderson commented on #16
adding that to my `~/.vim/after/ftplugin/python.vim` does not seem to have an effect (`indentexpr?` is still `GetPythonIndent(v:lnum)`)

[2016-02-26 07:01] #18 closed

[2016-02-26 07:01] tweekmonster commented on #18
Thanks for catching this!  Should be fixed now.

[2016-02-26 07:02] tweekmonster commented on #16
Thanks for checking it out.  I'll take a closer look at this in the morning.

[2016-02-26 17:28] beaugunderson commented on #16
appreciate it! :)

[2016-02-28 06:01] #14 closed

[2016-02-28 06:01] #15 closed

[2016-02-29 16:08] tweekmonster commented on #16
@beaugunderson I wanted to tag this as `wontfix` with an explanation, but I looked at your dotfiles and see the value of what you're doing.  Now I want to adopt your layout to replace the trash heap that I'm using to configure Vim. :expressionless:

The problem is that `indent.vim` unsets `b:did_indent` and loads the filetype-specific indent script _after_ loading your ftplugin script.  The work a

[2016-03-02 04:29] beaugunderson commented on #16
@tweekmonster docs look good! hugely appreciate you supporting this workflow :)

[2016-03-02 04:31] beaugunderson opened #19 "Multiline string that's parsed incorrectly"
I have this multiline string in a file:

[code]

Braceless thinks that a block starts mid-string:

![screenshot](https://i.imgur.com/bo0HRWi.png)

And selecting the whole string and executing `gq` results in this:

![screenshot](https://i.imgur.com/k1B7w9e.png)

[2016-03-02 07:30] tweekmonster commented on #19
Great catch!  Fix incoming.

[2016-03-02 07:31] #19 closed

[2016-03-02 07:37] #16 closed

[2016-03-02 07:42] beaugunderson opened #21 "Block indent calculated incorrectly for complex block"
I think this was introduced in one of the very recent changes (I can verify this in the morning):

![screenshot](https://i.imgur.com/RttoqB4.png)

[code]

[2016-03-02 07:52] tweekmonster commented on #21
:hurtrealbad: I know what's going on here.  It's a matter of deciding if this is a pattern fix or a post scan check.  Unfortunately, I have to get to sleep.  I'll have a fix in the morning.

In any case, this is another great find.  Keep them coming if you find more.

[2016-03-02 10:01] amigrave opened #22 "Non greedy folding ?"
Is it possible to use braceless with a folding that would operate only on `def`, `class` and markers `{{{`  `}}}` instead of all indentations ?

[2016-03-02 14:54] tweekmonster commented on #22
I could easily add a way to configure which blocks to fold on.  I would have to look into the fold markers, so no promises there.

[2016-03-02 19:52] amigrave commented on #22
You mean user configurable block identifiers !? That would be cool indeed !

I don't know how markers works under the hood (I don't know vimscript in fact) but as they allow one to declare custom folding they are quite handy.

[2016-03-02 20:27] #21 closed

[2016-03-02 20:32] tweekmonster commented on #22
@amigrave Yup, I'm working on configurable block folding.  The issue off the top of my head with fold markers is that braceless deals with inferred block endings, not explicit ones.  Something like this might not work out well:

[code]

I know that's not that likely to happen on purpose, but could happen in pastes.  I do want to add folding for collection symbols (`()`, `[]`, and `{}`), but that's

[2016-03-03 01:08] #22 closed

[2016-03-03 01:09] tweekmonster commented on #22
You can set folds for `def` or `class` using this in your configs:

[code]

[2016-03-03 10:13] hovissimo commented on #6
FWIW, I think you made the right choice.  PEP-8 recommends empty lines following a lot of blocks, and if those aren't folded in I'm wasting twice the space in a folded file.

[2016-03-03 14:26] tweekmonster commented on #6
I agree.  It definitely grew on me.  I was too narrowly focused on finding the block borders in the beginning.  :expressionless:

[2016-03-05 02:46] tweekmonster commented on #1
Thanks for the pointers about the jumps.  I've been using it everywhere it makes sense.  Observations of my own: You can move the cursor all you want, but to record the jump correctly, you have to restore the original position before `execute "normal ! ..."`.

The segment movements have been more difficult than I expected.  I implemented `[j`, `[k`, `]j`, and `]k` as described above, but not the r

[2016-03-05 02:47] tweekmonster commented on #1
Oops, I forgot I was optimistic and had the commit message close this.

[2016-03-05 04:38] jeetsukumaran commented on #1
Thanks! Will give it a spin.

[2016-03-05 17:01] tweekmonster commented on #1
So, I lied about taking a break from this.  I added `[J` and `[K` for moving to segments with lower indent levels and `]J` and `]K` for moving to segments with higher indent levels.  Not going to merge into master until I get a feel for it.  So far, the only bad thing is when moving to a segment of a higher indent level that's completely outside of the root block.

[2016-03-12 21:41] jperras opened #24 "Disable PEP8 style indenting?"
Is there a way of disabling the PEP8-style of indenting arguments when they are split across multiple lines?

In case I'm not completely clear: the indentation style whereby the callable arguments are aligned under the opening parenthesis when the arguments are split across multiple lines like so:

[code]

is what I'd like to avoid, due to our internal company coding style guidelines. I attempted

[2016-03-12 23:01] tweekmonster commented on #24
Thanks :smile:

If you leave off `+indent` in the `BracelessEnable` command, it will let the builtin Python indent handler take over.  Unfortunately, that also disables the contextual indentation for blocks.

May I ask what your company's guidelines are regarding indentation?  Depending on how not-weird it is, I could probably make it customizable for compliance.  I'm in the middle of adding auto-

[2016-03-13 00:20] jperras commented on #24
@tweekmonster right, the contextual indentation for blocks is something I'd like to keep.

So, the indentation rules are _almost_ identical to the [PEP8 indentation rules](http://pep8.org/#indentation), except the following:

[code]

The problem that occurs with something like that is that it's very easy to end up jutting against the righthand 80/100 cols margin. Instead, we expect the following:

[2016-03-13 01:01] tweekmonster commented on #24
@jperras Nah, company coding standards are what they are for a reason regardless of how silly they seem.  I don't have a mission statement for this plugin, but my overall goal is to enhance and not break the workflow.  So, I'll leave this issue open until I find some time to add finer control over the indentation rules.

I know this plugin can be a little confusing, but if you just want to hack it

[2016-03-14 17:14] jonathf opened #25 "Easyoperator feature request"
Awesome plugin you have here.

As noted in the helpfile, easymotion is awesome and the fact that braceless works well with it makes it a very good fit for me.

I have a feature request that expands on the same idea. (Or description help if already implemented.) Is it possible to extend braceless to also support easy-operator-{phrase,line}:
https://github.com/haya14busa/vim-easyoperator-phrase
http

[2016-03-15 06:58] tweekmonster commented on #25
Thanks :smile:  I don't use either of those, but vim-easyoperator-line looks like it could be useful.  I'll look into that.

I'm not seeing the potential with vim-easyoperator-phrase, though.  Could you give me an example of how it would be useful specifically for Python dev?

[2016-03-15 08:39] jonathf commented on #25
I apologies. It seems I'm a bit out of date with my comment.

I while back when I first installed easy-motion, it didn't properly support operator dependent movement. You had to install one of the operator modules for this.

It seems though, that this is no longer an issue. everything worked out of the box. Also without installing any of the operator modules.

Anyways, keep up the good work.

[2016-03-15 08:39] #25 closed

[2016-03-17 16:23] tweekmonster commented on #24
@jperras I pushed a branch that gives some options to override the indentation you mentioned.  Would you mind trying it out and giving some feedback on it?

[2016-03-17 16:57] jperras commented on #24
@tweekmonster will do! Thanks for the docs on it; my vimscript is lackluster. I'll report back shortly.

[2016-03-18 20:37] tweekmonster commented on #24
@jperras I hope you were able to have happy good time fun with the custom settings.  Is this good to go?

I was also wondering if you've come across any coding guidelines that treat lists, tuples, and dicts differently from what PEP8 suggests.

[2016-03-20 02:04] jperras commented on #24
@tweekmonster pardon the delay!

So, I switched to the `indent-configure` branch and attempted to set the specified configurations:

[code]

but it didn't seem as though anything changed. I then tried to change the indent level to `2` and `0` and `-1` both in execute mode and within the configuration file, but I didn't notice a change in behaviour.

What am I messing up?

[2016-03-20 03:14] tweekmonster commented on #24
`g:braceless_cont_call` is for functions calls, e.g. `x = somefunc()` since they're regarded differently in PEP8 from block statements.  Did you set `g:braceless_cont_block` to 1 as well?  That's for things like `def somefunc(args):` or `if (grouping):`

[2016-03-20 19:12] jperras commented on #24
I set both of those to `1`. No errors on startup, and I verified that the variables are loaded in the current session by checking their value in execution mode, but still no dice – it still indented to the opening paren:

![crappy image](http://snaps.nerderati.com/STyCf.png)

Sorry for all the trouble – I must be doing something wrong!

[2016-03-20 20:32] tweekmonster commented on #24
@jperras Thanks.  It looks like I missed a part of the solution.  Break the line at the opening parenthesis and it should drop to the correct level.  I'll look into this.

Are block indents correct?

[2016-03-20 20:52] tweekmonster commented on #24
I just updated the branch.  It should correct that indent example you gave.

Also enough of that!  VimL is pretty confusing and sometimes terrible, and I'm mixing it with imaginary Python block boundaries.  Mistakes will be made and people will get hurt from time to time.  No big deal.

[2016-03-21 00:54] jperras commented on #24
@tweekmonster that did it – thanks! A big :+1: from me.

[2016-03-21 01:37] tweekmonster commented on #24
@jperras Cool.  Will be merging into master in a few minutes. :tada:

[2016-03-21 01:40] #24 closed

[2016-03-22 19:37] jperras opened #26 "Statement continuation slash inserted when a row of text in a docstring ends in 'and'."
When *editing* an existing docstring of a function, having a line end in an `and` word causes the `/` line continuation operator to be inserted when adding a carriage return at the end of said line, most likely because Braceless believes itself to be within a conditional statement:

[code]

[2016-03-22 19:50] tweekmonster commented on #26
@jperras Thanks!  I knew it felt too easy adding this feature :sweat:

While we're here, a quick preview of auto-formatting I'm working on.

![autoformat](https://cloud.githubusercontent.com/assets/111942/13965699/bd8080ec-f045-11e5-97ce-4b40a964bd49.gif)

[2016-03-22 20:04] jperras commented on #26
@tweekmonster o.O that's pretty neat. I've used `gqip` to reflow paragraphs of text before, but this is pretty great! :tada:

[2016-03-22 21:11] #26 closed

[2016-03-22 21:11] tweekmonster commented on #26
@jperras Took me more than a few minutes to push a fix because I found issues with docstring indentation when adding new lines (they were indenting to the previous block even if they weren't inside them).

Thanks :grinning:  In addition to this, I'm also going to be adding line joining as well:

![join-lines](https://cloud.githubusercontent.com/assets/111942/13968000/822667e0-f050-11e5-9c5e-7b466c

[2016-03-22 21:36] jperras commented on #26
Really digging the line joining examples – that's something I do _all_ the time when refactoring.

[2016-03-27 15:02] kyokley opened #27 "Continuation slash added inside parenthesis block"
When editing python, it seems like backslashes are being added sometimes for code that already exists within parentheses. I've tried tracking down the exact scenario that triggers the issue but was mostly unsuccessful. I know that I've seen it occur when trying to break up long lines of code or attempting to return a tuple from a function.

For example, if I start with the following:

[code]

Then

[2016-03-27 15:09] tweekmonster commented on #27
@kyokley No this is not expected behavior.  I haven't fixed it yet because I've been working on formatting behavior.  I haven't tested it fully yet, but you can use the WIP branch I just pushed to deal with this problem and also be my guinea pig :grin:

https://github.com/tweekmonster/braceless.vim/tree/simple-format

Not only will line continuations not appear in your case, you can also break up

[2016-03-27 16:47] kyokley commented on #27
Thanks for taking a look. I loaded up the branch but I'm still seeing the same behavior. I wish I could be of more help but I'm still learning how vimscript works. I'm happy to be a guinea pig though if there's anything else you'd like me to try.

[2016-03-27 18:57] tweekmonster commented on #27
@kyokley You should only be seeing line continuations when the imports aren't wrapped in parenthesis.

![](https://cloud.githubusercontent.com/assets/111942/14067164/233d5a42-f42c-11e5-8b9f-01598feea3f8.gif)

Line continuations are added if there aren't inside of parenthesis.

[2016-03-27 19:14] kyokley commented on #27
Ah, I see. I wasn't starting with both parentheses in place. I can work with that. Thanks again.

[2016-03-27 19:28] tweekmonster commented on #27
Yeah, it's a stopgap for now.  I'm working on full auto-formatting that will wrap the imports in parenthesis and break them into lines if you go over your textwidth in Vim.  It's taking more time than I expected because there's a lot of different situations (not just imports I mean).  The branch I pushed is the half way point so you can at least press enter in some key parts to get format assistan

[2016-03-31 23:57] tweekmonster commented on #27
@kyokley I'm planning to merge the previously mentioned branch tonight just to keep moving forward with my other autoformat work.  Have you noticed anything that would be a blocker for the merge?

[2016-04-01 01:23] kyokley commented on #27
I haven't had a chance to use it very extensively but during that time, I haven't noticed any problems.

[2016-04-01 13:07] 9seconds opened #28 "Is it possible to tune dedenting by Enter key?"
Hi!

braceless works great but I want to tune it a bit for my own need. Is it possible to dedent if I press <kbd>Enter</kbd> 2 times, not 1?

An example: usually I write functions like this, with blocks, separated by 1 empty lines:

[code]

If I type `items = []` then it is not possible to press <kbd>Enter</kbd> 2 times to input `for elements in elements`, because, well, after first keypress I ded

[2016-04-01 13:29] tweekmonster commented on #28
This is not configurable.  I can't decide whether or not I like it now that I've been using it for a while.  It was originally 2 lines, but that felt too far to go to dedent in some cases.  I wanted to be able to maintain momentum while coding, but I guess that'll be hard to achieve without braces.

Perhaps it should be left so that the indent stays with the block body's indent level, but only ded

[2016-04-02 09:55] 9seconds commented on #28
Dedenting after `return` is going to work in my case but I think that it might break other people usecases where there is no explicit `return` statement (function returns `None` implicitly): in such cases current behavior works really well.

Is it possible to add option like `g:braceless_dedent_after_return_only` with default `0`? What do you think?

[2016-04-05 21:42] notantonia opened #29 "<CR> not working"
Whenever I press `<CR>`, `braceless#python#override_cr()` gets pasted into my code over and over and over again until I press `<C-c>`. This is a bit unusable...

The first time this happened there was an error `clipboard: error: Error: target STRING not available`.

I am using neovim.

[2016-04-06 13:42] tweekmonster commented on #29
@notantonia Can you reproduce this reliably?  I'm unable to get the same results (I use Neovim as well).

[2016-04-06 13:49] tweekmonster commented on #28
@9seconds Sorry for the delayed response.  I think an option to tune or turn off auto-dedent is a good idea.  I'll work on adding it when I find some spare time today.

It also might be a good idea to point out the use of insert mode `<c-i>` and `<c-d>` in the docs since tabs is so important to Python dev.

[2016-04-07 13:08] antistic commented on #29
I went through my init.vim and it turns out that the problem only appears when using junegunn's [vim-peekaboo](https://github.com/junegunn/vim-peekaboo).

I've disabled it for now.

[2016-04-07 13:11] tweekmonster commented on #29
I see, thanks!  I don't use it, but I will to see if it can be fixed.  Could you give me steps to reproduce the issue?  Or is it as simple as opening peekaboo?

[2016-04-07 13:35] tweekmonster commented on #29
Never mind, I found the issue.  I'm using `imap` instead of `inoremap`.  I can't remember the reason I did this.  I'll fix it, but I have some local changes that I merged into master before I discovered some bugs that are breaking.  I need to address them before I push to Github.

[2016-04-07 14:19] #28 closed

[2016-04-07 14:19] #29 closed

[2016-04-07 14:21] tweekmonster commented on #27
@kyokley This is merged into master now.  My schedule didn't work out as planned when I mentioned merging before.

[2016-04-07 14:21] #27 closed

[2016-04-07 15:37] tweekmonster commented on #28
@9seconds Added `g:braceless_auto_dedent_gap`.  Set it to `0` to disable or some other number to define the blank line gap before dedent.  It can use the `b:` prefix if you want it to be per-buffer.

[2016-04-07 15:38] tweekmonster commented on #29
@notantonia The issue should be gone now!

[2016-05-19 06:58] AlbericC commented on #5
I forgot to confirm, it worked perfectly. Sorry for the delay.

[2016-07-14 22:43] manielng opened #30 "E132: Function call depth is higher than 'maxfuncdepth'"
I use macvim and vim-coffee-script, when I open a coffee file, it show
"Error detected while processing function braceless#highlight#update[7]..braceless#scan_head[69].."

[2016-07-14 22:47] ghost commented on #30
highlight does't work in coffee, Does the plugin Compatible with vim-coffee-script?

[2016-07-15 14:03] ches opened #31 "Bad fold interaction with sessions"
Hi, thanks for the plugin!

I use [vim-session][1], and unfortunately Braceless's folding seems to result in some undesirable interaction with it. vim-session persists manual folds in its session files, so I'm guessing that's the crux of the problem. Actually, standard `:mksession` does too, so similar problems might crop up with usage of the native session support.

Basically, the annoying behavi

[2016-07-16 23:06] tweekmonster commented on #31
I think the issue I'm seeing is how the session is generating the fold commands, which seems to be caused by overlapping folds created by this plugin.  The best way to deal with this is probably to only create shallow folds for the current cursor instead of trying to preemptively create all the folds for a block.  In addition, destroy the fold if it's opened.  That way the generated session script

[2016-07-16 23:11] tweekmonster commented on #30
Do you have an example script that caused that error?  I can't reproduce it.

I'm using [kchmck/vim-coffee-script](https://github.com/kchmck/vim-coffee-script) and it works for me.  I'm using `BracelessEnable +indent +highlight-cc2`.

[2016-07-17 02:54] ghost commented on #30
I'm using `BracelessEnable +indent +fold +highlight`,  this is my config file [vimrc](https://github.com/manielng/Macvim/blob/master/.vimrc.local#L155)

[2016-07-17 03:04] tweekmonster commented on #30
Do you have example coffeescript code that causes the error?

[2016-07-17 03:31] ghost commented on #30
I'm using youcompleteme and ultisnips, when I input fun and then press tab key the error happend,
![screen shot 2016-07-17 at 10 55 36](https://cloud.githubusercontent.com/assets/18302598/16898603/084fe11c-4c12-11e6-94e9-fc6a1f599b99.jpg)

[2016-07-17 03:51] tweekmonster commented on #30
Thanks I was able to reproduce it.  I'll look into it.

[2016-07-17 03:59] #30 closed

[2016-09-01 05:26] eth3lbert opened #32 "Custum popup handling for <cr> mapping"
Hi @tweekmonster,  thanks for the great plugin.

I was wondering if you could supply a method to handling popup menu in `<cr>` mapping.
Something like the following code at the beginning of `function braceless#python#override_cr(...)`.
[code]
So we could use `let g:braceless_pum_handling = "g:Custom_Fn"` to make things work.

Or could you adding a variable to not mapping the `override_cr`, like fo

[2016-09-15 09:06] eth3lbert commented on #32
Oh my bad, we could overwrite the mapping by filetype autocmd so something like

[code]

actually works.

[2016-09-15 09:06] #32 closed

[2016-09-15 09:30] blueyed commented on #32
How does your MyBracelessDeopleteCr look like? (just out of curiosity)

[2016-09-15 09:37] eth3lbert commented on #32
Here you are

[code]

[2016-10-04 14:42] NoahTheDuke opened #33 "GVim window view moving on `o` or `O` with option +indent"
For some reason, setting `autocmd FileType python BracelessEnable +indent` makes gvim's view move up as far as possible to encompass the current function definition on pressing `o` or `O`. It happens when the window is too small to contain both the cursor and the definition, and so moves the view so that the cursor is at the bottom of the screen, and it happens when the window is expanded, showing

[2016-11-29 16:29] NoahTheDuke commented on #33
Two months later, I can't seem to recreate this problem. I don't know what caused it, or how I 'fixed' it, but it doesn't seem to be happening anymore. My apologies.

[2016-11-29 16:29] #33 closed

[2016-11-29 16:37] NoahTheDuke opened #35 "Removal of whitepsace surround operators on 'J'oin lines"
Back again with another odd interaction! Test code:

[code]

Move the cursor to the first line and press `J` to join the line below. On my machine, it removes all whitespace surrounding the `+` and `*` operators. This also happens with `-` and `/`. If I disable the plugin, this behavior disappears. Just to be sure, I left braceless.vim enabled and tried disabling every other plugin I have install

[2016-11-30 21:35] tweekmonster commented on #35
This looks like a bug in removing spaces in slices.  I think it's treating the `[ ]` list delimiters as slice delimiters.  I can't get to this right now, but take a look at `:h g:braceless_format` if you want to disable this in the mean time.  Feel free to tackle the bug if you happen to have time!  😉

[2016-11-30 22:12] NoahTheDuke commented on #35
Oh man, how did I miss that? I feel like a fool. Thanks so much.

And I'm no good with vimscript, but why not? I'll see what I can find tonight. ;)

[2016-12-01 16:29] NoahTheDuke commented on #35
Okay, did some digging and found the offending line in `autoload/braceless/python/format.vim`, [line 53](https://github.com/tweekmonster/braceless.vim/blob/master/autoload/braceless/python/format.vim#L53):

    let ret = substitute(a:match, '\s*\([+\-\*/%]\)\s*', '\1', 'g')

This removes all surrounding whitespace from the the operators `+`, `-`, `*`, `/`. Originally, PEP 8 dictated leaving space

[2017-01-03 20:59] tgoodlet opened #37 "g] doesn't work?"
The binding of [`g]`](http://vimdoc.sourceforge.net/htmldoc/tagsrch.html#g]) to `:tselect` doesn't seem to work after installing this plugin?

Is this expected?
I'd love to have both since I use tags quite often.

[2017-01-03 21:11] tgoodlet opened #38 "Jumping between classes?"
In the docs you write:
[code]
I understood this as `[M`/`]M` would move the same as `[[`/`]]` normally do without the plugin installed?

Maybe i'm misunderstanding but how does one jump between top level definitions?

[2017-01-03 21:15] goodboy commented on #37
Ahh I found where you document this:
[code]

So my question now is how do you disable these additional mappings?

[2017-01-04 05:39] tweekmonster commented on #37
Set them to empty strings.  In hindsight, these should've been disabled by default.

[2017-01-04 05:53] tweekmonster commented on #37
Actually you're talking about just disabling `g[` and `g]`.  Setting those variables to empty strings will also disable `[[` and `]]`.  But, with the other issue you brought up in #38, you probably still want to do that.

[2017-01-04 06:08] goodboy commented on #37
@tweekmonster ok so then how do I access the `jump_x_key` behavior whilst also avoiding the conflict with `g]`?

~Maybe there's a better default mapping for what `[[` and `]]` (`]k` for key?) is currently doing and~ maybe it's better to just avoid duplicate mappings for the same behavior (i.e. rip out `g[` and `g]`)?

[2017-01-04 06:08] tweekmonster commented on #38
There isn't a way to jump between *top level* blocks.  As mentioned in #37, you can disable the maps for `[[` and `]]` to retain the maps set by the builtin ftplugin.

No.  Without this plugin or the builtin ftplugin, `[[` and `]]` moves between `{` (open curly braces) without respect to their purpose.  `[m` and `]m` moves between `{` for methods/classes, and `[M` and `]M` moves between `}` for me

[2017-01-04 06:18] goodboy commented on #38
@tweekmonster I like your thinking regarding how `[[` and `]]` *should* work in a braceless language.

So then my question is whether having a way to jump between *top level* blocks is something that is useful?

I personally miss it.

[2017-01-04 07:22] goodboy commented on #37
@tweekmonster I removed the duplicate mappings for `g` and now everything works as expected.

If I also remove it from the docs will you take a PR?

[2017-01-04 16:37] tweekmonster commented on #38
I think it's useful and I'm open to suggestions.  You also got @blueyed's support, so that's something I can't ignore 😉

I've been getting by by using FZF's tag search.  There's a discussion about the motions in #1 if it helps.  After I got the sense that I made the scope of this plugin too big, I stopped adding new maps since there's only so many keys available.

I thought about adding `[0` and `

[2017-01-04 16:49] goodboy commented on #38
Well then maybe you can accept #39 :)

@tweekmonster after thinking a bit more I'm starting to lean towards it **not** being a *top level block* jump but rather an actual `class` or *type* (other langs) jump.  I agree that tags should be used where possible but sometimes it's handy between classes to get a feel for how things are organized especially since often classes the the main topic of inter

[2017-01-04 16:56] tweekmonster commented on #38
It's been reviewed 😜

I actually wanted to use `[t` and `]t`, but it's in use by [unimpaired](https://github.com/tpope/vim-unimpaired) which may as well be builtin with how much its recommended to new users.

`[s` and `]s` could be used if there's a rule that states that it only works when `spell` is disabled.  Another possibility is using `(` and `)` since I can't think of the last time that I fo

[2017-01-05 07:07] goodboy commented on #38
@tweekmonster hmm. I really like using `()` but my concern would be with how it translates to other braceless languages...

Also maybe I'm blind, but where is *unimpaired.vim* using `[t`?

[2017-01-05 11:56] blueyed commented on #38
@tgoodlet
https://github.com/tpope/vim-unimpaired/blob/4971b4226aa6f8a89fe4ba22310eb2451c84233a/doc/unimpaired.txt#L38-L39

[2017-01-08 19:24] #37 closed

[2017-01-18 14:29] peaceant opened #40 "Losing backslash and double quotes when joining two lines together"
Example joining (`J`) two lines together:
[code]
Result:
[code]

If I set in my vimrc this:
[code]

then the result is this:
[code]

Still missing backslash... :-(

[2017-01-18 23:13] tweekmonster commented on #40
It looks like you might not have syntax highlighting enabled.  Is that the case?  It's required for detecting and ignoring strings/comments.

[2017-01-19 09:32] peaceant commented on #40
No I have syntax highlighting turned on. I've stripped down my init.vim file to this:

[code]

I'm still losing backslash and double quote when joining (with `J` key) lines with escaped double quotes.

[2017-01-19 17:30] tweekmonster commented on #40
Okay, it is a syntax issue.  I guess `pythonEscape` was added to the syntax and it highlights `\"` differently.

I'm using a plugin for syntax highlighting, which is why I couldn't reproduce it: https://github.com/hdima/python-syntax

[2017-01-19 17:34] #40 closed

[2017-02-14 00:44] tgoodlet opened #41 "Incorrect auto-indenting after decorator line?"
Whenever I write out a decorator line and then hit enter braceless seems to increase the indent level:

[code]

This seems wrong; there should be not indent added - maybe I'm also wrong in guessing this is braceless's doing?
It seems to go away when I disable the plugin though...

[2017-02-15 03:51] tweekmonster commented on #41
Yeah, this is due to a bit of goofiness in the way block matching works.  Decorators are seen as part of the function, so it's correctly (questionable) indenting what it thinks is the function body.  It should autocorrect the indent when you complete the function signature with `):`, though.

[2017-02-15 16:42] goodboy commented on #41
@tweekmonster yeah I'm not sure I follow.

`@` syntax does not necessarily mean the next line will be a `def` line let alone a function body? In fact this same problem exists if you try to stack decorator lines:
[code]
A decorator is more like a function call no?

[code]
will take you to the next line as expected. It seems that **only when** a `@` is present is the needless indentation done?

[cod

[2017-02-15 17:23] tweekmonster commented on #41
What I meant by it being questionably correct is that a decorator *is* part of the function's block (as far as `braceless` is concerned).  If you type `vaP`, just the function is selected.  If you add an additional `aP`, the selection will be extended to the decorator.  Block selection is a bit detached from `autoindent`, however.

It is unintuitive.  But, I don't have time to dig deep into it rig

[2017-02-15 18:09] goodboy commented on #41
@tweekmonster cool sounds good. Not sure if I'll be able to dig any sooner then you but I appreciate at least getting this on the backlog :+1:

[2017-02-22 18:53] balta2ar opened #42 "braceless make "o" in normal node very slow"
Hello. I noticed that in my set up pressing `o` in normal mode (filetype python) adds a significant delay. I'm not sure how to provide a minimal example, I'm rather open to your instructions on how to narrow the scope, though I barely speak vimscript.

I'm using only `autocmd FileType python BracelessEnable +indent`, neovim 0.1.7, latest version of braceless.
Thanks.

[2017-02-22 20:27] blueyed commented on #42
@balta2ar
You could profile it (see https://github.com/blueyed/dotfiles/blob/49cbd9c5f8c3bf6c255e7d61650a711a5bcde864/vimrc#L15-L17), i.e. setup profiling into a file, trigger the action (`o`), call `:profile stop` and look at the file - or paste it here.

[2017-02-22 20:52] balta2ar commented on #42
@blueyed Thank you!

Here are interesting blocks:
[code]

[code]

[code]

[code]

And the whole file in case I missed something important:
[vim.11542.0815profile.txt](https://github.com/tweekmonster/braceless.vim/files/794757/vim.11542.0815profile.txt)

[2017-02-22 21:13] blueyed commented on #42
Thanks, that hopefully helps @tweekmonster.
I am not using this plugin myself, but am just @tweekmonster's groupie.. ;)

[2017-02-22 21:24] balta2ar commented on #42
@blueyed Sure!
I submitted a similar issue to UltiSnips (https://github.com/SirVer/ultisnips/issues/827), but I think they are related and the root cause is the same:
[code]
It looks like we need to go deeper and profile python neovim client, right, @blueyed?

[2017-02-22 21:54] blueyed commented on #42
@balta2ar
The last dump looks like the Python client might have just been triggered by this, and then 0.1s is fine to boot it.

[2017-02-22 21:55] blueyed commented on #42
@balta2ar
Thanks for looking into it anyway - there are certainly bottlenecks in this region.

[2017-02-22 23:00] tweekmonster commented on #42
Thanks @blueyed!

This is suspect:

You might have hit a large block of comments or strings when it scanned upward.  Is that the case?

[2017-02-23 06:49] balta2ar commented on #42
@tweekmonster That's exactly right, the file is about 800 lines and there are comments describing purpose/arguments/returns to pretty much every method. Inside the comments `o` is fast, after the comments (in the code) it's slow again. In methods who lack comments and are located closer to the beginning of the file, `o` is fast.

[2017-03-02 05:47] tweekmonster commented on #42
@balta2ar Could you try out #43?  It's not perfect but it should at least keep Vim from locking up.

[2017-03-02 08:06] balta2ar commented on #42
@tweekmonster Thanks! The delay indeed has become smaller. I'm not sure if I notice it now. There is one occasional glitch that I see though. If I press `o` with the cursor in the middle of the screen (vertically), sometimes [rarely] it moves to the bottom of the screen. I only managed to reproduce it maybe 5% of the time so it's minor and I'm not sure it has to do with this plugin. Just reporting

[2017-03-08 22:13] #42 closed

[2017-03-17 17:59] hardenedapple opened #44 "zf is unconditionally mapped to a notification"
Hi there,

I have a mapping for `zf` that doesn't change the fold state.
`braceless#fold#enable_fast()` unconditionally sets `zf` to call `no_manual_msg()`.

Could you add a conditional to that action please?

If you could figure out a way to check the `maparg()` of that key sequence I guess automatically would be best, but that seems like it would be flaky, and I'd be happy with a global variable

[2017-04-06 20:46] beaugunderson opened #45 "Found a pathological case for indenting"
[code]

For some reason every line including and after the comment line containing "C48478" will be indented to column 37 (can you test this by saving the code above to a file, then executing `ggVG=` ).

[2017-04-06 20:56] beaugunderson commented on #45
(we use a 99 column limit; not sure if that's relevant, and those lines are longer because there's no good way to break them and they're from the database...)

[2017-04-08 14:47] tweekmonster commented on #45
Yeah I've been noticing issues every now and then with the indentation of nested blocks.  I'll need to investigate when I find some time.

[2017-04-08 14:49] tweekmonster commented on #44
What do you have `zf` set to?  Is it fold related at all?

[2017-04-08 14:49] tweekmonster commented on #44
Also, very sorry for the late reply!

[2017-04-08 14:53] hardenedapple commented on #44
no problem! It's not a real pain point for me.

I have `zf` mapped to enter a [submode](https://github.com/kana/vim-submode) so that `j` does the equivalent of `zj`, `k` does the equivalent of `zk` and a bunch things along the lines of easily opening/closing/navigating around folds.

It doesn't create/destroy folds though.

The actual map is `<Plug>(submode-before-entering:folds:with:zf)<Plug>(sub

[2017-04-08 15:23] #44 closed

[2017-04-08 15:24] tweekmonster commented on #44
I updated it to ignore existing maps.  Hope that works!

[2017-05-01 15:05] #45 closed

[2017-05-01 15:18] tweekmonster commented on #45
@beaugunderson Sorry for the delay.  This was a little tough to track down on a spotty schedule.

[2017-07-30 11:27] jdsutherland opened #47 "Feature Request: Highlight Toggle"
It seems like it'd be useful to have one map to toggle `+highlight`. I find myself only wanting it when viewing particularly hairy areas - otherwise it's too noisy for my taste.

I'm not well versed in vimscript to pull this off myself. Perhaps I'm overlooking an easy way to make it happen?

[2017-10-04 06:51] lervag opened #49 "Incorrectly adds \ at end of line"
I currently use these options for braceless:

[code]

Given this python code:

[code]

Inserting `<cr>and` at end of line now gives:

[code]

instead of the expected:

[code]

I'm curious if this is by design or if I am doing something wrong, or if this is a bug.

[2017-12-06 16:19] tgoodlet opened #50 "No auto-indent for coroutines"
Indent level never seems to be correct inside the body of `py35`+ coroutines:

[code]
This hold true for any line inside the function body.

[2019-01-13 05:02] GohioAC opened #51 "BracelessEnable in ftplugin works but raises error while opening files"
I'm setting ` BracelessEnable +indent +fold ` from ` ftplugin/python.vim`.

[code]

There's no further explanation. While it does not affect performance, it's rather annoying. Is this expected behaviour? Let me know if you need a minimal init.vim to reproduce!

[2019-02-25 20:42] rbpatt2019 commented on #51
Can confirm, running VIM 8.1 with patches 1-877 on Arch Linux (4.20.11.arch2-1).

[2019-07-24 08:39] tsuyoshicho opened #52 "help conflict : need fixing help tag; that change to plugin-prefix using"
## in help-writing

[code]

## for example
`[j` in [braceless\.vim](https://github.com/tweekmonster/braceless.vim) and [anyfold](https://github.com/pseewald/vim-anyfold) and helptag exception occur:

[code]

[2019-07-24 08:45] blueyed commented on #52
What is the conflicting tag name?

[2019-07-24 08:59] tsuyoshicho commented on #52
I see

Try it

1. install  braceless.vim and vim-anyfold.
2. `:helptag` generate together.
3. occur above error.

and then;

4. `help [j` open one side (half user miss hit)

[2019-07-24 09:24] pseewald commented on #52
I think it can not be avoided that different vim plugins define the same tags. Indeed the `helptags` command works on a specific directory and the documentation of each plugin is in its own `doc` directory so there should never be any conflict. The only way I could reproduce above error is to copy the documentation file of both plugins into the same directory and then run `:helptags` on that direc

[2019-07-24 10:32] tsuyoshicho commented on #52
Yes, but any plugin manger some plugins gater one because keep petformance.(rtp at small keep)

I can be workaround(set split/standalone picked plugin). but it is no roor cause fix.
Suggest this issue; to under official help guideline.

If reject this, I understood policy and OK.

[2019-08-06 09:29] siavasht commented on #35
I'm experiencing something similar to this for empty strings in pythong. Is there any update?

example:
[code]
is changed to
[code]

[2019-11-21 21:43] NoahTheDuke commented on #35
I'm still thinking about this, lol. Given the rise of [Black](https://github.com/psf/black), would it make sense to remove the whitespace trimming? My original example:
[code]
is reformatted by Black as:
[code]
I realize this would be a "big" change, but seeing as it's potentially causing data loss (I can't recreate siavasht's issue, but I trust it's happening), I think fully removing this part mi

[2020-06-30 06:15] arxra commented on #50
Seems like pull #48 would resolve this

[2020-06-30 16:30] goodboy commented on #50
@arxra :tada:

[2020-07-02 17:09] goodboy opened #53 "All sorts of problems with `o` command"
Somewhat pertains to #50.

- after a *method* (`async`) `def func(<o>` -> jumps one to many indents in
- after any return value type annotation: `) -> Type:<o>` -> should be one more indentation level *in*